[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
{%- if cookiecutter.need_rabbitmq %}
aio-pika = "~=9.2.1"
{%- endif %}
{%- if cookiecutter.need_kafka %}
aiokafka = "~=0.8.1"
{%- endif %}
{%- if cookiecutter.need_web_service %}
fastapi = "~=0.101.0"
uvicorn = {version = "~=0.23.2", extras = ["standard"]}
asyncpg = "~=0.28.0"
PyJWT = {version = "~=2.8.0", extras = ["crypto"]}
{%- endif %}

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.4"
