[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# web
django = "~=4.2.5"
django-environ = "~=0.11.2"
mozilla-django-oidc = "~=3.0.0"
requests = "~=2.31.0"
# db
psycopg = {version = "~=3.1.10", extras = ["binary"]}
# kafka
kafka-python = "~=2.0.2"
event-schema-registry = {editable = true, path = "../../libs/event-schema-registry/python"}

[dev-packages]
black = "~=23.7.0"
isort = "~=5.12.0"
flake8 = "~=6.1.0"

[requires]
python_version = "3.11"
python_full_version = "3.11.4"
